.navbar {
    display: flex;
    width: 100vw;
    height: 4rem;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0.75rem;
    justify-content: right;
    z-index: 3;
}

.navbar::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: -2rem; 
    width: calc(100% + 3rem); 
    height: calc(100% + 3rem); 
    background: #71A7E7;
    filter: blur(20px);
    z-index: -1;
}

.navbarItem { 
    font-size: 1.125rem;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
}

.navbarItem.active {
    font-weight: bold;
}

.navbarItem:hover {
    color: #e5e5e5;
}

@media (max-width: 700px) {
    .navbar {
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .navbarItem {
        font-size: 1rem;
        padding: 0.25rem;
    }
}

@media (max-width: 360px) {
    .navbarItem {
        font-size: 0.85rem;
        padding: 0.25rem;
    }
}

